


/*
   
   Table Of Content

  1. Global Style
  2. Socials Icons
  
 

*/

/* Global Style */

<style>
    * {
      box-sizing: border-box;
    }
  /* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: center;
  width: 100%;
}

/* Right column */
/* .rightcolumn {
  float: left;
  width: 20%;
  padding-left: 20px;
} */

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 0px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
</style>





/* Social Icons */

.social-icon {
    list-style: none;
    padding: 20px;
    margin: 0;
    text-align: center;
  }
  
  .social-icon:before,
  .social-icon:after {
    content: " ";
    display: table;
  }
  
  .social-icon:after {
    clear: both;
  }
  
  .social-icon li {
    display: inline-block;
    margin: 2px 4px;
  }
  
  .social-icon li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border: 0 none;
    border-radius: 50%;
    font-size: 17px;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
    transition: all 0.3s ease-in-out;
  }
  
  .social-icon li a:hover {
     box-shadow: 0px 8px 15px 0px rgba(90, 91, 95, 0.33);
  }
  
  .facebook {
     background-color: #3b5998;
  }
  
  .twitter {
     background-color: #1da1f2;
  }
  
  .google-plus {
     background-color: #dd4b39;
  }
  
  .instagram {
     background-color: #464545;
  }
  
  .linkedin {
     background-color: #0077b5;
  }
  
  .pinterest {
     background-color: #bd081c;
  }
  
  .youtube {
     background-color: #cd201f;
  }
  
  .vimeo {
     background-color: #1ab7ea;
  }
  
  .dribbble {
     background-color: #ea4c89;
  }
  
  .behance {
     background-color: #1769ff;
  }
  
  .flickr {
     background-color: #ff0084;
  }
  
  .tumblr {
     background-color: #35465c;
  }
  
  .foursquare {
     background-color: #f94877;
  }
  
  .github {
     background-color: #333333;
  }
  
  .skype {
     background-color: #00aff0;
  }